[submodule "src/DotNet.Meteor.Xaml"]
	path = src/DotNet.Meteor.Xaml
	url = https://github.com/JaneySprings/DotNet.Meteor.Xaml.LanguageServer.git
[submodule "src/clrdbg"]
	path = src/clrdbg
	url = https://github.com/JaneySprings/clrdbg.git
